body {
    font-family: Arial, sans-serif;
    background-color: #f2abcd;
    margin: 0;
    padding: 20px;
}

menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}
